bot_token=paste your bot token here
BOT_CLIENT_ID=paste your application (client) ID here
server_owner_id=paste server owner user ID here
admin_role_id=paste admin role ID here, can add multiple separated by comma